header {
  height: 76px;
  width: 100%;
  background-color: white;
  position: fixed;
}

header img {
  height: 24px;
  margin: 26px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav ul {
  display: flex;
  list-style: none;
}
.header-nav li {
  margin-right: 30px;
  font-size: 14px;
}
.header-nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
/* catch */
#catch {
  width: 100%;
  background-image: url(../img/mv.png);
  background-repeat: no-repeat;
  background-position: 0 -150px;
  background-size: cover;
}
.catch-wrap {
  width: 100%;
  height: 350px;
  text-align: center;
}

.catch-wrap p {
  padding: 200px;
  font-size: 25px;
  color: white;
  font-weight: bold;
}


/*content*/

form p span{
  color: #cd0224;
}
.content-wrap {
  text-align: center;
  margin-top:50px;
  
}
.content {
  display: inline-block; 
  width: 50%;
  text-align: left;
}
input{
  width:100%;
  border-radius: 0%;
}
textarea{
  width:100%;
}



/*content*/


footer {
  height: 50px;
  width: 100%;
  background-color: black;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
}

.footer-nav ul {
  display: flex;
  list-style: none;
}
.footer-nav li {
  font-size: 10px;
  color: white;
}
.footer-nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
