header {
  height: 76px;
  width: 100%;
  background-color: white;
  position: fixed;
}

header img {
  height: 24px;
  margin: 26px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav ul {
  display: flex;
  list-style: none;
}
.header-nav li {
  margin-right: 30px;
  font-size: 14px;
}
.header-nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
/* catch */
#catch {
  width: 100%;
  background-image: url(../img/mv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#catch-wrap {
  width: 100%;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.catch-message {
  color: white;
  font-weight: bold;
}

h1 {
  font-size: 50px;
  line-height: 100px;
}
.sprit {
  width: 100%;
  height: 200px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 50px;
}
.sprit-message {
  display: inline-block;
  width: 70%;
  text-align: left;
}
h2 {
  line-height: 30px;
  font-size: 40px;
}
.sprit-message p {
  font-size: 16px;
  line-height: 25px;
}

/*service */
.service-area {
  text-align: center;
}
.services {
  width: 90%;
  display:inline-block;
}
.service {
  width: 40%;
  padding-left: 1%;
  padding-right: 1%;
  display: inline-block;
}
.service img {
  width: 100%;
}
h3 {
  margin-top: 50px;
  font-size: 30px;
}
.service h4 {
  font-size: 20px;
  line-height: 0%;
  text-align: left;
}

.service p {
  line-height: 100%;
  text-align: left;
}

.more {
  margin-top: 50px;
  margin-bottom: 150px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  background-color: #cd0224;
  display: inline-block;
}
.more a {
  color: white;
  text-decoration: none;
}

/*news*/
.news {
  width: 100%;
  height: 300px;
  background-color: #222222;
  padding-bottom: 50px;
}
.news-title {
  margin-left: 10%;
  height: 100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: white;
}
.news-title p {
  font-size: 30px;
  line-height: 60px;
}
.news-title a {
  margin-top: 40px;
  width: 200x;
  height: 30px;
  padding: 10px;
  color: white;
  text-decoration: none;
  background-color: #cd0224;
}

.new {
  display: flex;
  margin-left: 10%;
  width: 80%;
  height: 50px;
  background-color: white;
  margin-bottom: 10px;
}
.date {
  padding-left: 20px;
}
.pick {
  font-weight: bold;
  padding-left: 10px;
}

/*blog*/
.blog-area {
  text-align: center;
}
.blogs {
  width: 100%;
  display: flex;
}

.blog {
  width: 50%;
  padding-left: 1%;
  padding-right: 1%;
  display: inline-block;
}
.blog img {
  width: 100%;
}

.blog h4 {
  font-size: 20px;
  line-height: 0%;
  text-align: left;
}

.blog p {
  line-height: 100%;
  text-align: left;
}
.blog-title {
  font-weight: bold;
}

/*recruit*/
.recruits {
  display: flex;
  margin-bottom: 100px;
}
#red,
#black {
  width: 50%;
  height: 300px;
  text-align: center;
}
#red {
  background-color: #cd0224;
}
#black {
  background-color: black;
}

.recruits a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  line-height: 300px;
  display: inline-block;
}

.contact {
  padding-top: 50px;
  background-color: #f5f6f9;
  text-align: center;
}
.contact p {
  line-height: 0%;
}

/*footer*/
footer {
  height: 50px;
  width: 100%;
  background-color: black;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
}

.footer-nav ul {
  display: flex;
  list-style: none;
}
.footer-nav li {
  font-size: 10px;
  color: white;
}
.footer-nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
   #hamburger {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  top: 15px;
  right: 20px;
  transition: 0.4s;
}

#hamburger span {
  position: absolute;
  left: 2px;
  display: block;
  width: 35px;
  height: 2px;
  background-color: black;
  transition: 0.8s;
}

#hamburger span:nth-of-type(1) {
  top: 10px; /* ハンバーガーメニューの1本目の棒 */
}

#hamburger span:nth-of-type(2) {
  top: 20px; /* ハンバーガーメニューの2本目の棒 */
}

#hamburger span:nth-of-type(3) {
  top: 30px; /* ハンバーガーメニューの3本目の棒 */
}

.header-nav {
  display: none; /* デスクトップのナビを消す */
}
.sprit-message {
  display:block;
  width: 90%;
  text-align: center;
}
h2 {
  line-height: 30px;
  font-size: 30px;
}
.sprit-message p {
  font-size: 12px;
  line-height: 14px;
}

.service {
  width: 100%;
  
}
footer {
  height: 200px;
  
}

.footer-nav ul {
 display:block;
  list-style: none;
}

}